

Flask>=2.2 
python-dotenv>=0.20
Werkzeug>=2.2 


# Gemini AI
google-generativeai>=0.4 

# PDF Text Extraction
PyMuPDF>=1.23 
cryptography>=3.1
pytesseract>=0.3 

# PDF Manipulation (from Pdf-tool)
pypdf>=4.0.0 
Pillow>=9.0.0 


pdf2image>=1.16.0


gunicorn>=20.0.0

